[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
vaultana = "AZWo7inNyu6C2azLZJ599ffTWSJYRkkx5aJSV2quh1tU"

[programs.localnet]
vaultana = "AZWo7inNyu6C2azLZJ599ffTWSJYRkkx5aJSV2quh1tU"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
initialize = "yarn run ts-node scripts/initialize.ts"
deposit = "yarn run ts-node scripts/deposit.ts"
withdraw = "yarn run ts-node scripts/withdraw.ts"
